# Ignore OS files
**/.DS_Store

# Ignore Visual Studio Code directory
.vscode/**

# Ignore Node dependency directory
node_modules/**

# Ignore VitePress development directory
src/.vitepress/cache/**

# Ignore VitePress build directory
src/.vitepress/dist/**
