// Custom rules
user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

font-feature-settings()
	-webkit-font-feature-settings arguments
	-moz-font-feature-settings arguments
	-ms-font-feature-settings arguments
	font-feature-settings arguments

// Home style
.home
	header.hero
		img
			max-height $heroImageHeight

// Yuu theme changes
.yuu-theme-dark
	.home
		header.hero
			.description
				color $darkAltTextColor
		.features
			.feature p
				color $darkAltTextColor
	a.settings-button
		color $darkTextColor
		&:hover
			color $darkAltTextColor
	.nav-links
		.nav-item
			a.nav-link
				&.router-link-active
					color $darkTextColor
				&:hover
					color $darkAltTextColor
	.dropdown-wrapper
		.nav-dropdown
			li
				&.dropdown-item a
					color $darkAltTextColor
					&.router-link-active,
					&:not(.router-link-active)
						&:hover
							color $darkTextColor
				h4
					border-top 1px solid $darkSecondaryBg
				&:first-child h4
					border-top 0

// Custom block containers
.custom-block
	&.tip,
	&.warning,
	&.error,
	&.danger
		border-radius $containerBorderRadius
	&.aside
		color transparentify($textColor, 0.4)
		font-size 0.9rem
		text-align right
	&.aside-guide
		font-size 0.9rem
		text-align left
		p
			margin-top 0
		a
			color $accentColorSecondary

// Guide container
.guide
	background-color $containerBackgroundColor
	border-radius $containerBorderRadius
	margin 1rem 0
	padding 0.1rem 1.5rem
	.title
		font-weight bold

// Expander container
.expander
	background-color $containerBackgroundColor
	border-radius $containerBorderRadius
	margin 1rem 0
	padding 1rem 1.5rem
	.expansion
		user-select none
		font-weight bold
		&:focus
			outline none

// Badge styling
.badge
	&.default-indicator
		background-color $accentColor !important
	&.version-indicator
		background-color $badgeVersionColor !important

// Navbar Changes
.navbar
	.site-name.can-hide
		/* Display navbar-name even for small screens */
		@media (max-width: $MQMobile)
			display inherit

// Page Header Logo
.headerLogo
	vertical-align middle
	height 3rem
	margin-bottom 0.625rem

// Center align class
.centered
	text-align center

// Bold class
.bold
	font-weight bold
