/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-brand-1: #f64b4b;
	--vp-c-brand-2: #f46565;
	--vp-c-brand-3: #f64b4b;
	--vp-c-brand-soft: rgb(246, 75, 75, 0.14);
	--vp-c-brand-alternative-1: #5478db;
	--vp-c-brand-alternative-2: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		120deg,
		var(--vp-c-brand-alternative-1) 30%,
		var(--vp-c-brand-1)
	);

	--vp-home-hero-image-background-image: linear-gradient(
		-45deg,
		var(--vp-c-brand-alternative-1) 50%,
		var(--vp-c-brand-1) 50%
	);
	--vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px);
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(72px);
	}
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
	--vp-custom-block-tip-border: var(--vp-c-brand-1);
	--vp-custom-block-tip-bg: var(--vp-c-brand-alternative-2);
}

.dark {
	--vp-custom-block-tip-border: var(--vp-c-brand-1);
	--vp-custom-block-tip-bg: var(--vp-c-brand-alternative-2);
}
